volumes:
  metadata_data: {}
  middle_var: {}
  historical_var: {}
  broker_var: {}
  coordinator_var: {}
  router_var: {}
  druid_shared: {}

services:
  postgres:
    container_name: postgres
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - metadata_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: FoolishPassword
      POSTGRES_USER: druid
      POSTGRES_DB: druid

  zookeeper:
    container_name: zookeeper
    image: zookeeper:3.8
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1

  coordinator:
    image: apache/druid:29.0.0
    container_name: coordinator
    volumes:
      - druid_shared:/opt/shared
      - coordinator_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
    ports:
      - "8081:8081"
    command:
      - coordinator
    env_file:
      - environment
    environment:
      DRUID_XMS: 2g
      DRUID_XMX: 2g
      DRUID_MAXDIRECTMEMORYSIZE: 2g

  broker:
    image: apache/druid:29.0.0
    container_name: broker
    volumes:
      - broker_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8082:8082"
    command:
      - broker
    env_file:
      - environment
    environment:
      DRUID_XMS: 2g
      DRUID_XMX: 2g
      DRUID_MAXDIRECTMEMORYSIZE: 2g

  historical:
    image: apache/druid:29.0.0
    container_name: historical
    volumes:
      - druid_shared:/opt/shared
      - historical_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8083:8083"
    command:
      - historical
    env_file:
      - environment
    environment:
      DRUID_XMS: 2g
      DRUID_XMX: 2g
      DRUID_MAXDIRECTMEMORYSIZE: 2g

  middlemanager:
    image: apache/druid:29.0.0
    container_name: middlemanager
    volumes:
      - druid_shared:/opt/shared
      - middle_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8091:8091"
      - "8100-8105:8100-8105"
    command:
      - middleManager
    env_file:
      - environment
    environment:
      druid_worker_capacity: 3
      druid_indexer_runner_javaOpts: "-server -Xms1g -Xmx1g -XX:MaxDirectMemorySize=1g"
      DRUID_XMS: 1g
      DRUID_XMX: 1g
      DRUID_MAXDIRECTMEMORYSIZE: 1g

  router:
    image: apache/druid:29.0.0
    container_name: router
    volumes:
      - router_var:/opt/druid/var
    depends_on:
      - zookeeper
      - postgres
      - coordinator
    ports:
      - "8888:8888"
    command:
      - router
    env_file:
      - environment
    environment:
      DRUID_XMS: 1g
      DRUID_XMX: 1g
      DRUID_MAXDIRECTMEMORYSIZE: 1g